<div class="container-fluid bg-light m-0 p-0 row fixed-top" style="height:70px" id="header-navbar-one">
        <!--start navbar 1st column-->
        <div class="col-12 col-lg-2 col-md-4 bg-warning text-light" id="nav-1st-column">
            <div class="float-left mt-3">
                <h4 class="font-weight-bold">CODECORN</h4>
            </div>
            <div class="float-right mt-3">
                <i class="fa fa-bars" data-toggle="collapse" data-target="#dashboard-page-one"
                    style="font-size:30px;cursor:pointer;"></i>
            </div>
        </div>
        <!--end navbar 1st column-->
        <!--start navbar 2nd column-->
        <div class="col-lg-10 col-md-8 d-flex justify-content-between" id="nav-2nd-column">
            <div>
                <form>
                    <div class="input-group mt-3 ml-3">
                        <i class="fa fa-search mr-2" style="font-size:30px;color:gray;"></i>
                        <input type="search" name="search" placeholder="Find Something ....."
                            class="form-control border-0 bg-light outline-0">
                    </div>
                </form>
            </div>
            <div class="d-flex">
                <!--start notification and email coding-->
                <div class="mr-4 mt-4">
                    <div class="dropdown">
                        <i class="fa fa-envelope-o animated pulse infinite"
                            style="font-size:20px;cursor: pointer;color:#2AD7C5;" data-toggle="dropdown"></i>
                        <div class="dropdown-menu dropdown-menu-right p-0 mt-4">
                            <i class="fa fa-caret-up"
                                style="position: absolute; margin-top:-21px;color:#FFC107;margin-left:130px;font-size:30px;"></i>
                            <li class="dropdown-header bg-warning text-white">
                                <h6>Sourav Santra</h6>
                            </li>
                            <a class="dropdown-item" href="#"><i class="fa fa-user"> Profile</i></a>
                            <a class="dropdown-item" href="#"><i class="fa fa-gear fa-spin"> </i> Setting</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mr-3">
                    <div class="dropdown mr-2">
                        <i class="fa fa-bell-o animated pulse infinite"
                            style="font-size:20px;cursor: pointer;color:red;" data-toggle="dropdown"></i>
                        <div class="dropdown-menu p-0 mt-4">
                            <i class="fa fa-caret-up"
                                style="position: absolute; margin-top:-21px;color:#FFC107;margin-left:5px;font-size:30px;"></i>
                            <li class="dropdown-header bg-warning text-white">
                                <h6>Sourav Santra</h6>
                            </li>
                            <a class="dropdown-item" href="#"><i class="fa fa-user"> Profile</i></a>
                            <a class="dropdown-item" href="#"><i class="fa fa-gear fa-spin"> </i> Setting</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
                </div>
                <!--header layout-2-->
                <div class="dropdown mt-3 mr-3">
                    <h6 class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">Sourav Santra</h6>
                    <span class="ml-5" style="position:absolute;margin-top:-8px;">Admin</span>
                    <div class="dropdown-menu p-0 mt-5">
                        <i class="fa fa-caret-up"
                            style="position: absolute; margin-top:-21px;color:#FFC107;margin-left:130px;font-size:30px;"></i>
                        <li class="dropdown-header bg-warning text-white">
                            <h6>Sourav Santra</h6>
                        </li>
                        <a class="dropdown-item" href="#"><i class="fa fa-user"> Profile</i></a>
                        <a class="dropdown-item" href="#"><i class="fa fa-gear fa-spin"> </i> Setting</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Logout</a>
                    </div>
                </div>
                <!--start DP coding-->
                <div style="width:70px;height:70px;" class="rounded-circle border" style="overflow:hidden;">
                    <img src="http://127.0.0.1:3000/images/vo28ssjt25l21.jpg" width="100%" height="100%"
                        class="rounded-circle">
                </div>
                <!--end DP coding-->
            </div>
        </div>
        <!--end navbar 2nd column-->
    </div>